@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

:root {
    --accent-color: #5D8AA8;
    --background-color: #242124;
    --btn-color: #EDEAE0;
    --btn-hover-color: #EDEAE0;
}

body {
    font-family: "Fira Code", monospace;
    background-color: var(--background-color);
}

@keyframes timeout {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@layer components {

    .playground--container {
        @apply lg:flex m-5 gap-5;
    }

    .main--container {
        @apply w-full lg:w-1/2 border-4 border-[var(--accent-color)] rounded-t-lg;
    }

    .container--codemirror-iframe {
        @apply bg-white;
    }

    .section--headers {
        @apply flex h-9 bg-[var(--accent-color)] border-b-4 border-[var(--accent-color)];
    }

    .divider {
        @apply block h-5 lg:hidden;
    }

    .btn {
        @apply gap-1 hover:bg-[var(--btn-hover-color)];
    }

    .btn-share {
        @apply bg-[var(--btn-color)] hover:bg-[var(--btn-hover-color)];
    }

    .btn-circle {
        @apply w-8 h-8 ml-2 rounded-full flex items-center justify-center bg-[var(--btn-color)];
    }

    .iframe-tag {
        @apply h-[80.3vh] w-full;
    }

    .section--header-preview {
        @apply bg-white w-full gap-2 cursor-pointer;
    }

    .section--headers-commons {
        @apply flex items-center text-sm tracking-tighter px-2 border border-[var(--accent-color)] rounded-md;
    }

    /* Auth.jsx */

    .auth-container {
        @apply font-serif h-[80vh] w-screen flex items-center justify-center text-white;
    }

    .auth-inner-container {
        @apply w-full sm:w-1/3 mx-5;
    }

    .auth-heading {
        @apply text-center mb-8 text-xl;
    }

    .auth-input {
        @apply outline-none px-4 py-2 text-black rounded-lg my-2 w-full;
    }

    .auth-btn {
        @apply bg-[#007FFF] w-full px-4 py-2 my-2 rounded-lg disabled:bg-[#61affd];
    }

    .animation-timeout {
        @apply h-1 bg-[#FE5A1D] rounded-xl;
        animation: timeout 10s linear;
    }

    .share-link-div {
        @apply font-serif border-4 border-[var(--accent-color)] rounded-lg bg-white;
    }

    .share-link-heading {
        @apply bg-[var(--accent-color)] px-4 py-1 text-white font-semibold
    }

    .share-link-input {
        @apply text-blue-800 w-full px-4 py-1 outline-none text-sm;
    }

}